<h2>About Us</h2>
<p>Welcom to DevEntStartUp. We are a community of developers, entrepreneurs, designers and inverstors who are interested in meeting one another and sharing ideas to start the next big generation of business.</p>