<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="well">
			<h2 class="text-center">About Us</h2>
			<p class="text-center">
				Welcom to <strong>DevEntStartUp</strong>. We are a community of developers, entrepreneurs, designers and inverstors who are interested in meeting one another and sharing ideas to start the next big generation of business.
			</p>
		</div>
	</div>
</div>
<br/>
<br/>
<br/>
<br/>