<div class="jumbotron text-center well">
	<h1>Welcome to DevEntStartUp</h1>
	<h3>
		A membership site where Entrepreneurs, Investors and Developers can meet each other to start the next big generation of business.
	</h3>
</div>

<!-- Option for Basic and Pro account -->
<div class="row">
	<div class="col-md-6">
		<div class="well">
			<h2 class="text-center">Basic membership</h2>
			<h4 class="text-center">Sign up for free account and get Basic access to the community!</h4>

			<%= link_to new_user_registration_path, class: 'btn btn-primary btn-lg btn-block' do %>
            	<i class="fa fa-sign-in"></i>
            	Sign Up with Basic
            <% end %>
		</div>
	</div>

	<div class="col-md-6">
		<div class="well">
			<h2 class="text-center">Pro membership</h2>
			<h4 class="text-center">Sign up for the Pro account for <strong>12&euro;/month</strong> and get Basic access to the community and all contact information!</h4>

			<%= link_to new_user_registration_path, class: 'btn btn-success btn-lg btn-block' do %>
            	<i class="fa fa-sign-in"></i>
            	Sign Up with Pro
            <% end %>
		</div>
	</div>
</div>