<div class="jumbotron text-center">
	<h1>Welcome to DevEntStartUp</h1>
	<h3>
		A membership site where Entrepreneurs, Investors and Developers can meet each other to start the next generation of business.
	</h3>
</div>