.image_profile {
	width: 100px;
	height: 100px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 6px 4px 0 rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 6px 4px 0 rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 6px 4px 0 rgba(0, 0, 0, .8);
	border: 2px solid white;
}

.image_profile1 {
	width: 70px;
	height: 70px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 6px 4px 0 rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 6px 4px 0 rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 6px 4px 0 rgba(0, 0, 0, .8);
	border: 2px solid white;
}

.job-title-icon {
	width: 25px;
	height: 25px;
	border: 1px solid #2e6da4;
	display: inline-block;
	border-radius: 4px;
	background-color: #337ab7;
	color: white;
	text-align: center;
}

.profile-block {
	color: #fff;
	text-align: justify;
	h3 {
		margin-top: 0;
	}
}

.well.profile-description {
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.well.contact-info {
	background-color: #5bc0de;
	border-color: #5bc0de;
}

.well.white-bg {
	background-color: lightgray;
	
}

#job {
	margin: -10px 0 0 0;
}

.text {
	text-align: justify;
}

/* CSS for Ads */
#image1 {
	width: 270px;
	height: 200px;
}